@font-face {
  font-family: 'DT Getai Grotesk Display';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/DT%20Getai%20Grotesk%20Display/Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

