@font-face {
  font-family: 'LT Remark';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/LTRemark/LTRemark-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'LT Remark';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/LTRemark/LTRemark-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'LT Remark';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/LTRemark/LTRemark-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'LT Remark';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/LTRemark/LTRemark-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'LT Remark';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/LTRemark/LTRemark-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'LT Remark';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/LTRemark/LTRemark-Blackltalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
