@font-face {
  font-family: 'PP Mori';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Mori/Extralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Mori';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Mori/ExtralightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Mori';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Mori/Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Mori';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Mori/RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Mori';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Mori/SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Mori';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Mori/SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

