@font-face {
  font-family: 'PP Neue Corp';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Neue%20Corp/Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Corp';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Neue%20Corp/Ultrabold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Corp';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Neue%20Corp/Ultralight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

