@font-face {
  font-family: 'PP Pangram Sans';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Pangram%20Sans/Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Pangram Sans';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Pangram%20Sans/CompactExtralightReclined.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Pangram Sans';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Pangram%20Sans/CompactRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Pangram Sans';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Pangram%20Sans/CompactThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Pangram Sans';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Pangram%20Sans/ExtraboldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Pangram Sans';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Pangram%20Sans/Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Pangram Sans';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Pangram%20Sans/Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Pangram Sans';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Pangram%20Sans/Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Pangram Sans';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Pangram%20Sans/Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

