@font-face {
  font-family: 'PP Rader';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Rader/Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Rader';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Rader/BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Rader';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Rader/Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Rader';
  src: url('https://cdn.jsdelivr.net/gh/asboy2035/fonts@master/PP%20Rader/Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

